@import "common/eumssi-common.less";

body {
	height: 100%;
	position: relative;
}

.eumssi-tool {
	overflow-x: hidden;
}


.content {
	height: ~"calc(100% - 48px)";
	width: 100%;
	position: relative;

	.tabs-container{
		width: 100%;
		padding: 0;
		border-width: 0;
		border-radius: 3px 0 0 3px;
		box-shadow: 0 0 10px 5px grey;
	}

	.left-slide {
		padding: 10px 10px 10px 0;
	}

	.result-panel-content{
		padding: 10px 0 10px 10px;
	}

	> div {
		display: inline-block;
		vertical-align: top;
		height: ~"calc(100% - 20px)";
		width: ~"calc(50% - 12px)";
		//padding: 10px;
		position: relative;
	}

	&.slide-open {
		.left-slide-toggler{
			left: ~"calc(50% - 2px)";
		}
	}

	&.slide-closed {
		.left-slide-toggler {
			left: 0;
		}
		.left-slide {
			display: none;
		}
		.result-panel-content{
			width: ~"calc(100% - 10px)";
		}
	}

	.left-slide-toggler {
		width: 30px;
		height: 60px;
		position: absolute;
		top: ~"calc(50% - 30px)";
		margin-left: -10px;
		background-color: orangered;
		cursor: pointer;
		z-index: 10;
		opacity: 0.3;
		border-radius: 0 40px 40px 0;
		&:hover{
			opacity: 1;
		}
	}

	.left-slide {
		z-index: 2;
		#richeditor-placeholder {
			height: 100%;
		}
	}

	.result-panel-content{
		overflow: auto;
	}


}

/************************ POLARITY WIDGET **************************/
.content.slide-closed #twitterpolarity{
	.polarity-placeholder {
		.chartsCol {
			& > div {
				height: 50%;
			}
		}
	}
}

.content.slide-open #twitterpolarity{
	.polarity-placeholder {
		position: relative;
		width: 100%;
		height: 100%;

		.polarityCol {
//			height: 67%;
			height: 100%;
			width: calc(~"50% - 6px");
		}

		.chartsCol {
			//display: none;
			width: 100%;
			height: 33%;
			margin: 0 5px;
			& > div {
				height: 100%;
				width: 49%;
			}
		}
	}
}

// **************************************************************** //

.header {
	height: 48px;
	width: 100%;

	background-color: rgba(0,0,0,0.5);

	.mainSearch-placeholder{
		line-height: 46px;
		margin: 0 10px;
		//float: right;
	}

	button.ui-button-main {
		height: 32px;
		font-size: large;
		width: 32px;
		margin-left: -40px;
		cursor: pointer;
		border: none;
		padding: 4px 4px;
		background-color: white;
		&:hover {
			background-color: white;
		}

		.icon-search {
			background-image: url("../images/icon-search-grey.png");
			width: 24px;
			height: 24px;
			background-repeat: no-repeat;
		}
	}

	.filter-container {
		input {
			font-size: large;
			width: 500px;
			padding: 6px 10px 7px 10px;
			border: none;
			box-shadow: 2px 2px 4px grey;
		}
		h2 {
			display: none;
		}
	}

	& > div > * {
		display: inline-block;
		vertical-align: middle;
	}
}

//OVERRIDE VENDOR CSS

body{

	.cke_editor_richeditor-placeholder{
		box-shadow: 0 0 10px 5px grey;
		border-radius: 0 5px 5px 0;
	}

	//NAVIGATION TABS
	.ui-tabs .ui-tabs-nav {
		width: 74px;
		position: fixed;
		top: 25%;
		right: -71px;
		z-index: 1000;
		border-radius: 4px 0 0 4px;
		box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
		background-color: orange;

		&:hover {
			right: 0;
		}

		li{
			float: none;
			height: 64px;
			width: 64px;
			border-radius: 0;
			overflow: hidden;
			position: relative;
			border-bottom-width: 1px;
			padding: 0;
			white-space: nowrap;
			margin: 5px;
			cursor: pointer;
			border: none;
			background-color: orangered;
			background-image: none;

			&:hover{
				background-color: rgba(255, 255, 255, 0.1);
				box-shadow: 0 0 1px 1px rgba(0,0,0,0.5);
			}

			&.active-widget,
			&.ui-state-active{
				cursor: auto;
				background-color: rgba(255, 255, 255, 0.6);
				box-shadow: 0 0 3px 1px rgba(0,0,0,0.5);
			}

			.ui-tabs-anchor{
				float: none;
				display: block;
				height: 100%;
				width: 100%;
				padding: 0;
			}
		}
	}
}


