@rgb_blue: #6998f0;
@rgb_black: #000;
@rgb_white: #fff;
@rgb_seablue: #1B2C33;
@rgb_grey: #666;
@rgb_grey7: #777;
@rgb_background: #EEE;
@rgb_background_widget: #C7DAE9;
@rgb_darkgrey: #333;
@rgb_orange: #FF4900;
@rgb_red: #FF0000;

/*************** MISC **************/
/*************** ******** **************/

.info-block {
	.info-label {
		cursor: pointer;
		&::after {
			content: "";
		}
	}

	.ui-icon {
		display: inline-block;
		vertical-align: bottom;
	}
}

.wordcloud {
	text {
		cursor: pointer;
	}
}

.genericwordcloud {
	text {
		cursor: pointer;
	}
}

.wordgraph {
	.link {
		fill: none;
		stroke: #cccccc;
		stroke-width: 1.1px;
	}

	.node {
		cursor: pointer;
		circle {
			fill: #ccc;
			stroke: #fff;
			stroke-width: 1.5px;
		}
	}

	text {
		font: 10px sans-serif;
		pointer-events: none;
	}
}

/*************** ******** **************/
/*************** MISC **************/

/*************************** Common ***************************/
* {
	padding: 0;
	margin: 0;
}

html {
	height: 100%;
	min-width: 600px;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	color: @rgb_darkgrey;
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
	line-height: 18px;
}

img {
	border: none;
}

a {
	cursor: pointer;
	color: @rgb_blue;
	text-decoration: none;
	&:hover {
		color: @rgb_black;
		text-decoration: underline;
	}
}

.clear {
	clear: both;
}

p {
	margin-bottom: 5px;
	text-align: left;
}

video {
	background-color: black;
}

li {
	list-style-type: none;
	margin-top: 0.2em;
}

input[type=checkbox] {
	vertical-align: text-bottom;
	margin: 0 2px 1px 2px;
}

form {
	padding: 10px;
	p {
		width: auto;
		position: relative;
		margin-bottom: 1em;
		& > label {
			width: ~"calc(30% - 0.5em)";
			float: left;
			text-align: right;
			margin-right: 0.5em;
			padding-top: 0.4em;
		}
		& > input,
		& > textarea,
		& > select {
			font-size: 1.2em !important;
			width: ~"calc(70% - 1em)";
			padding: 0.2em;
		}
		& > select {
			width: auto;
		}
	}

	&.feedback-form {
		width: 600px;
	}
}

.click-menu.ui-menu {
	position: absolute;
	width: auto;
	z-index: 1000;

	.ui-widget-header:active,
	.ui-widget-header:hover {
		font-weight: bold;
		background: none;
		border: 1px solid transparent;
		cursor: default;
	}
}

/*************************** INITIAL PAGE ***************************/

.ui-section-initpage {
	height: 100%;
	width: 100%;
	text-align: center;

	button.ui-button-main {
		height: 32px;
		font-size: large;
		width: 32px;
		margin-left: -40px;
		cursor: pointer;
		border: none;
		padding: 4px 4px;
		background-color: white;
		&:hover {
			background-color: white;
		}

		.icon-search {
			background-image: url("../images/icon-search-grey.png");
			width: 24px;
			height: 24px;
			background-repeat: no-repeat;
		}
	}

	img.logo {
		margin-top: ~"calc(20% - 100px)";
		margin-bottom: 25px;
		margin-right: 0;
		float: none;
	}
	.filter-container {
		input {
			font-size: large;
			width: 500px;
			padding: 6px 10px 7px 10px;
			border: none;
			box-shadow: 2px 2px 4px grey;
		}
		h2 {
			display: none;
		}
	}

	& > div > * {
		display: inline-block;
		vertical-align: middle;
	}
}

/*************************** LAYOUT GENERAL ***************************/

.ui-section-mainlayout {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.ui-layout-resizer {
	background-color: @rgb_grey7;
}

.ui-layout-toggler {
	background-color: @rgb_orange;
}

.content-panel.ui-layout-center {
	overflow: visible !important;
}

.content-panel .ui-layout-resizer-west,
.content-panel .ui-layout-resizer-east {
	background-color: @rgb_blue;
	&:hover {
		background-color: lighten(@rgb_blue, 10%);
	}
}

.button-pin {
	position: absolute;
	top: 0;
	margin: 1px;
	z-index: 2;
	width: 18px;
	height: 18px;
	&.button-pin-west {
		right: 0px;
	}
	&.button-pin-east {
		left: 0px;
	}
	&.ui-layout-button-pin-up {
		background-image: url("../lib/jquery/images/ui-icons_222222_256x240.png");
		background-position: -128px -144px;
		border: 1px solid @rgb_grey;
	}
	&.ui-layout-button-pin-down {
		background-image: url("../lib/jquery/images/ui-icons_222222_256x240.png");
		background-position: -144px -144px;
		border: 1px solid @rgb_orange;
	}
}

.ui-layout-toggler-none {
	display: none !important;
}

.ui-layout-resizer-none {
	display: none !important;
}

.ui-loading-modal::before {
	background-color: rgba(0, 0, 0, 0.25);
	background-image: url("../images/bar-ajax-loader.gif");
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 9999;
	content: " ";
	width: 100%;
	height: 100%;
}

body .advancedSearch-panel {
	background-color: @rgb_background_widget;
	opacity: 1;
	z-index: 1;
}

body .widget-panel {
	background-color: @rgb_background;
	opacity: 1;
	z-index: 1;
}

body,
.header-panel,
.search-panel {
	background-color: @rgb_background;
}

/*************************** Header ***************************/

.header-panel {
	h1 {
		padding: 20px 0 5px 10px;
		font-size: 20px;
		color: @rgb_seablue;
		float: left;
	}
	h2 {
		padding-left: 10px;
		color: @rgb_grey;
		font-size: 14px;
		font-weight: 100;
	}
	.btn-do-feedback {
		position: absolute;
		right: 10px;
		top: 0;
		height: 26px;
		border: none;
		width: 100px;
		font-size: larger;
		font-weight: bold;
		cursor: pointer;
		box-shadow: 0 1px 1px;
		opacity: 0.5;
		&:hover {
			opacity: 1;
			background-color: lighten(@rgb_blue, 10%);
			transition: all 200ms ease-in;
		}
	}

}

img.logo {
	float: right;
	margin-right: 70px;
}

/*************************** Center (Result) ***************************/

.result-panel-content {
	text-align: justify;
	overflow: visible;
	h2 {
		margin-bottom: 5px;
		color: @rgb_seablue;
		font-size: 20px;
		font-weight: 100;
		span.links:hover {
			color: @rgb_orange;
			text-decoration: underline;
			-webkit-transition: all 200ms;
			-o-transition: all 200ms;
			-moz-transition: all 200ms;
			transition: all 200ms;
		}
	}
	.tab-content {
		padding: 10px 20px 50px 40px;
		&.expanded {
			overflow: hidden;
			position: relative;
			width: calc(~"100% - 60px");
			height: calc(~"100% - 60px");
		}
	}
	.date {
		font-size: 10px;
	}
	.tabs-container {
		height: 100%;
		overflow: visible;
		/* Override jQuery Theme*/
		border-radius: 0px;
		padding: 0px;
	}

	.ui-tabs {
		.ui-tabs-nav {
			position: absolute;
			top: -35px;
			left: 0px;
		}
		.ui-tabs-panel {
			overflow: auto;
			height: 100%;
			width: 100%;
			padding: 0px;
		}
	}

	.result-person img {
		max-height: 80px;
		max-width: 80px;
		cursor: pointer;
	}

	.twitter-logo {
		max-height: 18px;
		vertical-align: bottom;
		margin-right: 5px;
		cursor: pointer;
	}

	.icon-play {
		width: 24px;
		height: 24px;
		display: inline-block;
		vertical-align: text-bottom;
		margin-right: 5px;
		cursor: pointer;
		background-image: url(../images/play-circle.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		&:hover {
			background-image: url(../images/play-circle-hover.png);
		}
	}

	.icon-play-youtube {
		width: 32px;
		height: 24px;
		display: inline-block;
		vertical-align: text-bottom;
		cursor: pointer;
		background-image: url(../images/play-youtube.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		&:hover {
			background-image: url(../images/play-youtube-hover.png);
		}
	}

	.icon-play-segment {
		width: 22px;
		height: 22px;
		display: inline-block;
		vertical-align: middle;
		margin-right: 5px;
		margin-top: -2px;
		cursor: pointer;
		background-image: url(../images/icon-play-32.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		&:hover {
			background-image: url(../images/icon-play-32-hover.png);
		}
	}

	.icon-link {
		width: 22px;
		height: 22px;
		display: inline-block;
		vertical-align: text-bottom;
		margin-left: 5px;
		cursor: pointer;
		background-image: url(../images/icon-link-32.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		&:hover {
			background-image: url(../images/icon-link-32-hover.png);
		}
	}

}

.pager,
.pager-header {
	display: inline;
}

.pager li,
.links li {
	list-style-type: none;
	display: inline;
}

#selection {
	padding: 10px 15px 0;
	li {
		list-style-type: none;
	}
}

.resultWidget-placeholder {
	padding-top: 1px;
	div.result-element {
		margin-top: 15px;
		padding: 10px;
		border-radius: 5px;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.75);

		background-image: url("../images/element-back-news.png");
		background-repeat: no-repeat;
		background-position: right top;
		background-origin: content-box;

		&.element-tweet {
			background-image: url("../images/element-back-tweet.png");
		}
		&.result-element-video {
			background-image: url("../images/element-back-video.png");
		}
		&.result-element-youtube {
			background-image: url("../images/element-back-youtube.png");
		}

	}
}

.links {
	cursor: pointer;
}

.content-toolbar {
	margin-bottom: 5px;

	* {
		display: inline-block;
		vertical-align: middle;
	}

	label {
		margin-right: 0.5em;
	}
}

/*************************** search-panel (LEFT Side) ***************************/

.search-panel-content {
	overflow: hidden;
}

.advancedSearch-panel-content {
	overflow: auto;
}

.search-panel-content,
.advancedSearch-panel-content {
	padding: 0 0 10px 10px;
	height: 100%;
	position: relative;
	h2 {
		clear: left;
		margin-top: 20px;
		color: @rgb_darkgrey;
		font-size: 13px;
	}
	input.text-widget-input {
		width: 200px;
	}
	select {
		width: 150px;
	}
	div.search-info {
		color: @rgb_white;
		background-color: @rgb_grey7;
		display: inline-block;
		width: 17px;
		vertical-align: text-bottom;
		margin-left: 5px;
		height: 17px;
		border-radius: 10px;
		text-align: center;
		font-weight: bolder;
		cursor: pointer;
		&:hover {
			background-color: @rgb_orange;
		}
	}
	.filter-container {
		position: relative;
		h2 {
			display: inline-block;
		}
		.ui-checkbox-input {
			margin: 0px 2px;
			display: inline-block;
			vertical-align: middle;
		}
		.ui-checkbox-label {
			font-size: 10px;
			font-style: italic;
		}
	}
	.videoOnlyWidget{
		margin-top: 20px;
		.ui-checkbox-container:hover {
			background-color: fade(@rgb_orange, 15%);
		}
		label{
			font-weight: bold;
		}
	}
}

div.search-info-content {
	h4 {
		color: @rgb_orange;
		background-color: lighten(@rgb_orange, 45%);
		margin: 0.5em 0;
	}
}

/*************************** Dialog ***************************/
span.info-label {
	font-weight: bold;
	color: @rgb_orange;
	&::after {
		content: ": ";
	}
}

.ui-dialog.tweet-dialog {
	border: none;
	-webkit-box-shadow: 0 0 5px 2px rgba(94, 169, 221, 1);
	-moz-box-shadow: 0 0 5px 2px rgba(94, 169, 221, 1);
	box-shadow: 0 0 5px 2px rgba(94, 169, 221, 1);
}

/*************************** Dialog & New Filter ***************************/
.dialog-new-filter p {
	margin-bottom: 1em;
	label {
		width: 8em;
		text-align: right;
		display: inline-block;
		margin-right: 0.5em;
	}
	input, select {
		min-width: 15em;
	}
}

/*************************** Main Actions Buttons ***************************/
button.ui-button-main {
	padding: 5px 10px;
	margin: 1px 0px;
	width: 200px;
	text-align: initial;
	background-color: @rgb_grey7;
	color: @rgb_white;
	font-weight: bold;
	border-style: solid;
	border-left: 10px solid @rgb_seablue;
	border-top: 0px;
	border-bottom: 0px;
	border-right: 0px;
	&:hover {
		/*border-left: 15px solid @rgb_seablue;*/
		background-color: @rgb_orange;
	}
}

button.btn-remove-filter {
	position: absolute;
	top: 40px;
	right: 18px;
	border-radius: 15px;
	background: none;
	border: none;
	opacity: 0.2;
	&:hover {
		opacity: 1;
	}
}

/*************************** Errors ***************************/
.ui-error-text {
	font-size: 20px;
	font-weight: bold;
	color: @rgb_red;
}

/*************************** Text Slice more/less ***************************/
span.more {
	display: inline-block;
	vertical-align: sub;
	cursor: pointer;
}

.ui-after-points::after {
	content: "... ";
}

/*************************** Tag Facet Widget ***************************/
.tagfacet {
	padding: 5px 0px;
	overflow-y: auto;
	.tagfacet-item {
		font-weight: bold;
	}
	.tagfacet-item-count {
		margin-left: 5px;
		font-weight: normal;
	}
	.ui-checkbox-container {
		margin-bottom: 5px;
		width: 100%;
	}
	.ui-checkbox-container:hover {
		background-color: fade(@rgb_orange, 15%);
	}
}

/*************************** TAG CLOUD WIDGET ***************************/

.tagCloud-placeholder {
	width: 90%;
	margin: auto;
	margin-top: 50px;
	position: relative;

	.tagcloud_item {
		display: inline-block;
		vertical-align: middle;
		margin: 3px;
		color: @rgb_blue;
	}
	.tagcloud_item:hover {
		color: @rgb_orange;
		text-decoration: none;
	}

	a.tagcloud_size_0 {
		font-size: 80%;
		img {
			max-width: 60px;
			max-height: 60px;
			opacity: 0.5;
		}
	}
	a.tagcloud_size_1 {
		font-size: 100%;
		img {
			max-width: 80px;
			max-height: 80px;
			opacity: 0.5;
		}
	}
	a.tagcloud_size_2 {
		font-size: 120%;
		img {
			max-width: 100px;
			max-height: 100px;
			opacity: 0.6;
		}
	}
	a.tagcloud_size_3 {
		font-size: 140%;
		img {
			max-width: 120px;
			max-height: 120px;
			opacity: 0.6;
		}
	}
	a.tagcloud_size_4 {
		font-size: 160%;
		img {
			max-width: 140px;
			max-height: 140px;
			opacity: 0.7;
		}
	}
	a.tagcloud_size_5 {
		font-size: 180%;
		img {
			max-width: 160px;
			max-height: 160px;
			opacity: 0.7;
		}
	}
	a.tagcloud_size_6 {
		font-size: 200%;
		img {
			max-width: 180px;
			max-height: 180px;
			opacity: 0.8;
		}
	}
	a.tagcloud_size_7 {
		font-size: 220%;
		img {
			max-width: 200px;
			max-height: 200px;
			opacity: 0.8;
		}
	}
	a.tagcloud_size_8 {
		font-size: 240%;
		img {
			max-width: 220px;
			max-height: 220px;
			opacity: 0.9;
		}
	}
	a.tagcloud_size_9 {
		font-size: 260%;
		img {
			max-width: 240px;
			max-height: 240px;
			opacity: 0.9;
		}
	}
	a.tagcloud_size_10 {
		font-size: 280%;
		img {
			max-width: 260px;
			max-height: 260px;
			opacity: 1;
		}
	}

	img:hover {
		opacity: 1 !important;
	}

}

/*************************** TAG CLOUD WIDGET ***************************/

.filterViewer-placeholder {
	display: inline-block;
	.ui-filters-label {
		display: none;
	}
	.ui-filter * {
		display: inline-block;
	}
	.ui-icon {
		cursor: pointer;
		vertical-align: top;
		margin: 1px 2px;
	}
	.filterText {
		cursor: default;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		width: calc(~"100% - 20px");
		font-size: 8pt;
	}
}

// ************************************************************************* //

/************************ MAP GEOCHART WIDGET **************************/
.tab-content.mapChart {

	.mapChart-placeholder {
		position: relative;
		width: 100%;
		height: calc(~"100% - 30px");
	}

	.mapChart-chart {
		width: 100%;
		height: 100%;
	}
}

// ************************************************************************* //

/************************ POLARITY WIDGET **************************/

.tab-content.expanded.polarity {
	padding-top: 0;
	padding-bottom: 0;
	height: 100%;
}

.polarity-placeholder {
	position: relative;
	width: 100%;
	height: 100%;

	.polarityCol {
		height: 100%;
		width: calc(~"50% - 20px");
		margin: 0 0 0 5px;
		display: inline-block;
		overflow-y: scroll;
		overflow-x: hidden;

		&.agree .tweet-container {
			background: linear-gradient(to bottom, rgba(0, 145, 201, 0.8) 0%, rgba(255, 255, 255, 1) 100%);
		}
		&.against .tweet-container {
			background: linear-gradient(to bottom, rgba(224, 0, 0, 0.8) 0%, rgba(255, 255, 255, 1) 100%);
		}

		.tweet-container-loading.loading {
			width: 100%;
			height: 200px;
			margin-top: -200px;
			background-image: url("../images/bar-ajax-loader.gif");
			background-position: center;
			background-repeat: no-repeat;
			z-index: 10;
		}

		.tweet-container {
			width: 100%;
			padding-bottom: 200px;
			padding-top: 5px;
			.tweet {
				margin: 10px auto;
				max-width: 500px;
				min-width: 250px;
				width: calc(~"100% - 20px");
				text-align: center;
			}
			h3 {
				text-align: center;
				margin-top: 50px;
				margin-bottom: -50px;
				text-shadow: 0px 0px 2px white;
			}
		}
	}

	.chartsCol {
		display: inline-block;
		width: ~"calc(40% - 25px)";
		height: 100%;
		& > div {
			height: 33%;
			width: 100%;
			position: relative;
			display: inline-block;

			&.tweet-pie-chart > svg {
				width: 100%;
				height: 100%;
			}

			&.tweet-time-chart-placeholder {
				.time-chart {
					width: 100%;
					height: 100%;
					display: inline-block;
				}

				.tweet-time-chart-buttons{
					display: block;
					position: absolute;
					top: 0;
					right: 0;
					margin: 38px 10px 0 0;

					button{
						cursor: pointer;
						width: 70px;
						height: 24px;
						border: none;
						margin: 0 0 3px 0;
						&.state-active {
							background-color: @rgb_blue;
						}
					}
				}

				&.ui-loading-modal > *{
					display: none;
				}

			}


		}
	}
}
/* NEW UPDATE LAYOUT WITH CHARTS */
body #twitterpolarity {

	.tab-content {
		padding: 0;
		width: 100%;
	}

	.polarity-placeholder .polarityCol {
		width: 30%;
	}
}

// ************************************************************************* //

/************************ VIDEO PLAYER WIDGET **************************/

.player-minimize {
	background-image: url("../images/arrow-player-mini.png");
	width: 24px;
	height: 24px;
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 5px;
	cursor: pointer;
}

.player-maximize {
	display: none;
	background-image: url("../images/arrow-player-max.png");
	width: 48px;
	height: 48px;
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 5px;
	cursor: pointer;
	opacity: 0.2;
	&:hover {
		opacity: 1;
	}
}

//MODO MINIMIZADO
html body .ui-dialog.video-dialog.ui-widget.minimized-player {
	width: 320px !important;
	height: 240px !important;
	padding: 0;
	margin: 0;
	overflow: hidden;
	border-radius: 0;

	.ui-dialog-titlebar {
		display: none;
	}
	.player-minimize {
		display: none;
	}
	.player-maximize {
		display: block;
	}
	.youtube-placeholder {
		padding: 0;
		embed {
			width: 320px;
			height: 240px;
		}
	}
	.amalia-placeholder .amalia-player-placeholder {
		width: 320px;
		height: 240px;
	}
	.amalia-placeholder .amalia-player-row {
		padding: 0;
	}

}

body .ui-dialog.video-dialog.ui-widget {
	background: @rgb_darkgrey;
	overflow: visible;
	width: 530px !important;

	&.plugin-on {
		width: 855px !important;
	}
	.ui-dialog-title {
		color: whitesmoke;
	}
	.ui-dialog-content {
		overflow: visible;
		padding: 0;
	}
}

.youtube-placeholder {
	height: 320px;
	width: 520px;
	padding: 0 5px;
}

.amalia-placeholder {
	.amalia-player-row {
		padding: 0 5px;
		& > div {
			display: inline-block;
			height: 320px;
		}
	}

	.amalia-player-placeholder {
		width: 520px;
	}

	.amalia-plugin-tsync-placeholder {
		width: 320px;
	}

	/* OVERRIDE AMALIA PLUGIN CSS */
	.ajs-plugin.plugin-text-sync {
		background: @rgb_darkgrey;
		height: 320px;
		.line-component {
			padding: 0;
			.line {
				color: white;
				margin: 5px;
				padding: 5px;
				background-color: rgba(0, 0, 0, 0.5);
				&.on {
					background-color: rgba(0, 0, 0, 0.25);
					box-shadow: 0 0 1px 3px #0cf;
				}

			}
		}
	}
}

// ************************************************************************* //

/**************************** DATE FILTER WIDGET ****************************/
.dateFilterWidget-placeholder {
	margin-top: 20px;
	div {
		margin-top:8px;
	}
	label{
		font-weight: bold;
		text-align: right;
		display: inline-block;
		width: 35px;
		margin-right: 0.5em;
	}
	input {
		width: 157px;
	}
}

// ************************************************************************* //

/*************************** OVERRIDE - jQuery UI ***************************/
body .ui-widget-header {
	border: none;
	background: none;
}

body .ui-widget-content a {
	color: @rgb_blue;
}

body .ui-dialog {
	border: none;
	box-shadow: 1px 1px 4px black;
	.ui-dialog-title {
		font-size: large;
	}
}

body .tweet-tooltip {
	background: none;
}
//Fix problem with focus on dialogs on the close button
body .ui-dialog-titlebar-close .ui-button-text {
	display: none;
}

body .ui-datepicker {
	z-index: 10 !important;
	font-size: inherit;
}
