/*************** MISC **************/
/*************** ******** **************/
.info-block .info-label {
  cursor: pointer;
}
.info-block .info-label::after {
  content: "";
}
.info-block .ui-icon {
  display: inline-block;
  vertical-align: bottom;
}
.wordcloud text {
  cursor: pointer;
}
.genericwordcloud text {
  cursor: pointer;
}
.wordgraph .link {
  fill: none;
  stroke: #cccccc;
  stroke-width: 1.1px;
}
.wordgraph .node {
  cursor: pointer;
}
.wordgraph .node circle {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 1.5px;
}
.wordgraph text {
  font: 10px sans-serif;
  pointer-events: none;
}
/*************** ******** **************/
/*************** MISC **************/
/*************************** Common ***************************/
* {
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
  min-width: 600px;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #333333;
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
}
img {
  border: none;
}
a {
  cursor: pointer;
  color: #6998f0;
  text-decoration: none;
}
a:hover {
  color: #000000;
  text-decoration: underline;
}
.clear {
  clear: both;
}
p {
  margin-bottom: 5px;
  text-align: left;
}
video {
  background-color: black;
}
li {
  list-style-type: none;
  margin-top: 0.2em;
}
input[type=checkbox] {
  vertical-align: text-bottom;
  margin: 0 2px 1px 2px;
}
form {
  padding: 10px;
}
form p {
  width: auto;
  position: relative;
  margin-bottom: 1em;
}
form p > label {
  width: calc(30% - 0.5em);
  float: left;
  text-align: right;
  margin-right: 0.5em;
  padding-top: 0.4em;
}
form p > input,
form p > textarea,
form p > select {
  font-size: 1.2em !important;
  width: calc(70% - 1em);
  padding: 0.2em;
}
form p > select {
  width: auto;
}
form.feedback-form {
  width: 600px;
}
.click-menu.ui-menu {
  position: absolute;
  width: auto;
  z-index: 1000;
}
.click-menu.ui-menu .ui-widget-header:active,
.click-menu.ui-menu .ui-widget-header:hover {
  font-weight: bold;
  background: none;
  border: 1px solid transparent;
  cursor: default;
}
/*************************** LAYOUT GENERAL ***************************/
.ui-section-mainlayout {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.ui-layout-resizer {
  background-color: #777777;
}
.ui-layout-toggler {
  background-color: #ff4900;
}
.content-panel.ui-layout-center {
  overflow: visible !important;
}
.content-panel .ui-layout-resizer-west,
.content-panel .ui-layout-resizer-east {
  background-color: #6998f0;
}
.content-panel .ui-layout-resizer-west:hover,
.content-panel .ui-layout-resizer-east:hover {
  background-color: #97b8f5;
}
.button-pin {
  position: absolute;
  top: 0;
  margin: 1px;
  z-index: 2;
  width: 18px;
  height: 18px;
}
.button-pin.button-pin-west {
  right: 0px;
}
.button-pin.button-pin-east {
  left: 0px;
}
.button-pin.ui-layout-button-pin-up {
  background-image: url("../lib/jquery/images/ui-icons_222222_256x240.png");
  background-position: -128px -144px;
  border: 1px solid #666666;
}
.button-pin.ui-layout-button-pin-down {
  background-image: url("../lib/jquery/images/ui-icons_222222_256x240.png");
  background-position: -144px -144px;
  border: 1px solid #ff4900;
}
.ui-layout-toggler-none {
  display: none !important;
}
.ui-layout-resizer-none {
  display: none !important;
}
.ui-loading-modal::before {
  background-color: rgba(0, 0, 0, 0.25);
  background-image: url("../images/bar-ajax-loader.gif");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 9;
  content: " ";
  width: 100%;
  height: 100%;
}
body .advancedSearch-panel {
  background-color: #c7dae9;
  opacity: 1;
  z-index: 1;
}
body .widget-panel {
  background-color: #eeeeee;
  opacity: 1;
  z-index: 1;
}
body,
.header-panel,
.search-panel {
  background-color: #eeeeee;
}
/*************************** Header ***************************/
.header-panel h1 {
  padding: 20px 0 5px 10px;
  font-size: 20px;
  color: #1b2c33;
  float: left;
}
.header-panel h2 {
  padding-left: 10px;
  color: #666666;
  font-size: 14px;
  font-weight: 100;
}
.header-panel .btn-do-feedback {
  position: absolute;
  right: 10px;
  top: 0;
  height: 26px;
  border: none;
  width: 100px;
  font-size: larger;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 1px 1px;
  opacity: 0.5;
}
.header-panel .btn-do-feedback:hover {
  opacity: 1;
  background-color: #97b8f5;
  transition: all 200ms ease-in;
}
img.logo {
  float: right;
  margin-right: 70px;
}
/*************************** Center (Result) ***************************/
.result-panel-content {
  text-align: justify;
  overflow: visible;
}
.result-panel-content h2 {
  margin-bottom: 5px;
  color: #1b2c33;
  font-size: 20px;
  font-weight: 100;
}
.result-panel-content h2 span.links:hover {
  color: #ff4900;
  text-decoration: underline;
  -webkit-transition: all 200ms;
  -o-transition: all 200ms;
  -moz-transition: all 200ms;
  transition: all 200ms;
}
.result-panel-content .tab-content {
  padding: 10px 20px 50px 40px;
}
.result-panel-content .tab-content.expanded {
  overflow: hidden;
  position: relative;
  width: calc(100% - 60px);
  height: calc(100% - 60px);
}
.result-panel-content .date {
  font-size: 10px;
}
.result-panel-content .tabs-container {
  height: 100%;
  overflow: visible;
  /* Override jQuery Theme*/
  border-radius: 0px;
  padding: 0px;
}
.result-panel-content .ui-tabs .ui-tabs-panel {
  overflow: auto;
  height: 100%;
  width: 100%;
  padding: 0;
}
.result-panel-content .result-person img {
  max-height: 80px;
  max-width: 80px;
  cursor: pointer;
}
.result-panel-content .result-video-person-thumbnails {
  overflow-x: auto;
}
.result-panel-content .result-video-person-thumbnails .thumbnails-container {
  white-space: nowrap;
}
.result-panel-content .result-video-person-thumbnails .thumbnails-container img {
  max-height: 80px;
  max-width: 80px;
  box-shadow: 0px 0px 3px 3px #f1f1f1;
  margin: 5px 3px 0px 3px;
}
.result-panel-content .twitter-logo {
  max-height: 18px;
  vertical-align: bottom;
  margin-right: 5px;
  cursor: pointer;
}
.result-panel-content .icon-play {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: text-bottom;
  margin-right: 5px;
  cursor: pointer;
  background-image: url(../images/play-circle.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.result-panel-content .icon-play:hover {
  background-image: url(../images/play-circle-hover.png);
}
.result-panel-content .icon-play-youtube {
  width: 32px;
  height: 24px;
  display: inline-block;
  vertical-align: text-bottom;
  cursor: pointer;
  background-image: url(../images/play-youtube.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.result-panel-content .icon-play-youtube:hover {
  background-image: url(../images/play-youtube-hover.png);
}
.result-panel-content .icon-play-segment {
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  margin-top: -2px;
  cursor: pointer;
  background-image: url(../images/icon-play-32.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.result-panel-content .icon-play-segment:hover {
  background-image: url(../images/icon-play-32-hover.png);
}
.result-panel-content .icon-play-ocr {
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  margin-top: -2px;
  cursor: pointer;
  background-image: url(../images/ocr.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.result-panel-content .icon-link {
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: text-bottom;
  margin-left: 5px;
  cursor: pointer;
  background-image: url(../images/icon-link-32.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.result-panel-content .icon-link:hover {
  background-image: url(../images/icon-link-32-hover.png);
}
.pager,
.pager-header {
  display: inline;
}
.pager li,
.links li {
  list-style-type: none;
  display: inline;
}
#selection {
  padding: 10px 15px 0;
}
#selection li {
  list-style-type: none;
}
.resultWidget-placeholder div.result-element {
  position: relative;
  margin-top: 15px;
  padding: 10px;
  min-height: 70px;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.75);
  background-color: white;
  background-image: url("../images/element-back-news.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-origin: content-box;
}
.resultWidget-placeholder div.result-element.element-tweet {
  background-image: url("../images/element-back-tweet.png");
}
.resultWidget-placeholder div.result-element.result-element-video {
  background-image: url("../images/element-back-video.png");
}
.resultWidget-placeholder div.result-element.result-element-youtube {
  background-image: url("../images/element-back-youtube.png");
}
.links {
  cursor: pointer;
}
.content-toolbar {
  margin-bottom: 5px;
}
.content-toolbar * {
  display: inline-block;
  vertical-align: middle;
}
.content-toolbar label {
  margin-right: 0.5em;
}
/*************************** search-panel (LEFT Side) ***************************/
.search-panel-content {
  overflow: hidden;
}
.advancedSearch-panel-content {
  overflow: auto;
}
.search-panel-content,
.advancedSearch-panel-content {
  padding: 0 0 10px 10px;
  height: 100%;
  position: relative;
}
.search-panel-content h2,
.advancedSearch-panel-content h2 {
  clear: left;
  margin-top: 20px;
  color: #333333;
  font-size: 13px;
}
.search-panel-content input.text-widget-input,
.advancedSearch-panel-content input.text-widget-input {
  width: 200px;
}
.search-panel-content select,
.advancedSearch-panel-content select {
  width: 150px;
}
.search-panel-content div.search-info,
.advancedSearch-panel-content div.search-info {
  color: #ffffff;
  background-color: #777777;
  display: inline-block;
  width: 17px;
  vertical-align: text-bottom;
  margin-left: 5px;
  height: 17px;
  border-radius: 10px;
  text-align: center;
  font-weight: bolder;
  cursor: pointer;
}
.search-panel-content div.search-info:hover,
.advancedSearch-panel-content div.search-info:hover {
  background-color: #ff4900;
}
.search-panel-content .filter-container,
.advancedSearch-panel-content .filter-container {
  position: relative;
}
.search-panel-content .filter-container h2,
.advancedSearch-panel-content .filter-container h2 {
  display: inline-block;
}
.search-panel-content .filter-container .ui-checkbox-input,
.advancedSearch-panel-content .filter-container .ui-checkbox-input {
  margin: 0px 2px;
  display: inline-block;
  vertical-align: middle;
}
.search-panel-content .filter-container .ui-checkbox-label,
.advancedSearch-panel-content .filter-container .ui-checkbox-label {
  font-size: 10px;
  font-style: italic;
}
.search-panel-content .checkboxWidget,
.advancedSearch-panel-content .checkboxWidget {
  margin-top: 5px;
  margin-left: 18px;
}
.search-panel-content .checkboxWidget input[type=checkbox],
.advancedSearch-panel-content .checkboxWidget input[type=checkbox] {
  margin-left: -15px;
}
.search-panel-content .checkboxWidget label,
.advancedSearch-panel-content .checkboxWidget label {
  font-weight: bold;
}
.search-panel-content .checkboxWidget .ui-checkbox-container:hover,
.advancedSearch-panel-content .checkboxWidget .ui-checkbox-container:hover {
  background-color: rgba(255, 73, 0, 0.15);
}
div.search-info-content h4 {
  color: #ff4900;
  background-color: #ffede5;
  margin: 0.5em 0;
}
/*************************** Dialog ***************************/
span.info-label {
  font-weight: bold;
  color: #ff4900;
}
span.info-label::after {
  content: ": ";
}
.ui-dialog.tweet-dialog {
  border: none;
  -webkit-box-shadow: 0 0 5px 2px #5ea9dd;
  -moz-box-shadow: 0 0 5px 2px #5ea9dd;
  box-shadow: 0 0 5px 2px #5ea9dd;
}
/*************************** Dialog & New Filter ***************************/
.dialog-new-filter p {
  margin-bottom: 1em;
}
.dialog-new-filter p label {
  width: 8em;
  text-align: right;
  display: inline-block;
  margin-right: 0.5em;
}
.dialog-new-filter p input,
.dialog-new-filter p select {
  min-width: 15em;
}
/*************************** Main Actions Buttons ***************************/
button.ui-button-main {
  padding: 5px 10px;
  margin: 1px 0px;
  width: 200px;
  text-align: initial;
  background-color: #777777;
  color: #ffffff;
  font-weight: bold;
  border-style: solid;
  border-left: 10px solid #1b2c33;
  border-top: 0px;
  border-bottom: 0px;
  border-right: 0px;
}
button.ui-button-main:hover {
  /*border-left: 15px solid @rgb_seablue;*/
  background-color: #ff4900;
}
button.btn-remove-filter {
  position: absolute;
  top: 40px;
  right: 18px;
  border-radius: 15px;
  background: none;
  border: none;
  opacity: 0.2;
}
button.btn-remove-filter:hover {
  opacity: 1;
}
/*************************** Errors ***************************/
.ui-error-text {
  font-size: 20px;
  font-weight: bold;
  color: #ff0000;
}
/*************************** Text Slice more/less ***************************/
span.more,
span.showOriginal {
  display: inline-block;
  vertical-align: sub;
  cursor: pointer;
}
.ui-after-points::after {
  content: "... ";
}
/*************************** Tag Facet Widget ***************************/
.tagfacet {
  padding: 5px 0px;
  overflow-y: auto;
}
.tagfacet .tagfacet-item {
  font-weight: bold;
}
.tagfacet .tagfacet-item-count {
  margin-left: 5px;
  font-weight: normal;
}
.tagfacet .ui-checkbox-container {
  margin-bottom: 5px;
  width: 100%;
}
.tagfacet .ui-checkbox-container:hover {
  background-color: rgba(255, 73, 0, 0.15);
}
/*************************** TAG CLOUD WIDGET ***************************/
.tagCloud-placeholder {
  width: 90%;
  margin: auto;
  margin-top: 50px;
}
.tagCloud {
  position: relative;
}
.tagCloud .tagcloud_item {
  display: inline-block;
  vertical-align: middle;
  margin: 3px;
  color: #6998f0;
}
.tagCloud .tagcloud_item:hover {
  color: #ff4900;
  text-decoration: none;
}
.tagCloud a.tagcloud_size_0 {
  font-size: 80%;
}
.tagCloud a.tagcloud_size_0 img {
  max-width: 60px;
  max-height: 60px;
  opacity: 0.5;
}
.tagCloud a.tagcloud_size_1 {
  font-size: 100%;
}
.tagCloud a.tagcloud_size_1 img {
  max-width: 80px;
  max-height: 80px;
  opacity: 0.5;
}
.tagCloud a.tagcloud_size_2 {
  font-size: 120%;
}
.tagCloud a.tagcloud_size_2 img {
  max-width: 100px;
  max-height: 100px;
  opacity: 0.6;
}
.tagCloud a.tagcloud_size_3 {
  font-size: 140%;
}
.tagCloud a.tagcloud_size_3 img {
  max-width: 120px;
  max-height: 120px;
  opacity: 0.6;
}
.tagCloud a.tagcloud_size_4 {
  font-size: 160%;
}
.tagCloud a.tagcloud_size_4 img {
  max-width: 140px;
  max-height: 140px;
  opacity: 0.7;
}
.tagCloud a.tagcloud_size_5 {
  font-size: 180%;
}
.tagCloud a.tagcloud_size_5 img {
  max-width: 160px;
  max-height: 160px;
  opacity: 0.7;
}
.tagCloud a.tagcloud_size_6 {
  font-size: 200%;
}
.tagCloud a.tagcloud_size_6 img {
  max-width: 180px;
  max-height: 180px;
  opacity: 0.8;
}
.tagCloud a.tagcloud_size_7 {
  font-size: 220%;
}
.tagCloud a.tagcloud_size_7 img {
  max-width: 200px;
  max-height: 200px;
  opacity: 0.8;
}
.tagCloud a.tagcloud_size_8 {
  font-size: 240%;
}
.tagCloud a.tagcloud_size_8 img {
  max-width: 220px;
  max-height: 220px;
  opacity: 0.9;
}
.tagCloud a.tagcloud_size_9 {
  font-size: 260%;
}
.tagCloud a.tagcloud_size_9 img {
  max-width: 240px;
  max-height: 240px;
  opacity: 0.9;
}
.tagCloud a.tagcloud_size_10 {
  font-size: 280%;
}
.tagCloud a.tagcloud_size_10 img {
  max-width: 260px;
  max-height: 260px;
  opacity: 1;
}
.tagCloud img:hover {
  opacity: 1 !important;
}
/*************************** TAG CLOUD WIDGET ***************************/
.filterViewer-placeholder {
  display: inline-block;
}
.filterViewer-placeholder .ui-filters-label {
  display: none;
}
.filterViewer-placeholder .ui-filter * {
  display: inline-block;
}
.filterViewer-placeholder .ui-icon {
  cursor: pointer;
  vertical-align: top;
  margin: 1px 2px;
}
.filterViewer-placeholder .filterText {
  cursor: default;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: calc(100% - 20px);
  font-size: 8pt;
}
/************************ MAP GEOCHART WIDGET **************************/
.tab-content.mapChart .mapChart-placeholder {
  position: relative;
  width: 100%;
  height: calc(100% - 30px);
}
.tab-content.mapChart .mapChart-chart {
  width: 100%;
  height: 100%;
}
/************************ POLARITY WIDGET **************************/
.tab-content.expanded.polarity {
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
}
.polarity-placeholder {
  position: relative;
  width: 100%;
  height: 100%;
}
.polarity-placeholder .polarityCol {
  height: 100%;
  width: calc(50% - 20px);
  float: left;
  margin: 0 0 0 5px;
  display: inline-block;
  overflow-y: scroll;
  overflow-x: hidden;
}
.polarity-placeholder .polarityCol.agree .tweet-container {
  background: linear-gradient(to bottom, rgba(0, 145, 201, 0.8) 0%, #ffffff 100%);
}
.polarity-placeholder .polarityCol.against .tweet-container {
  background: linear-gradient(to bottom, rgba(224, 0, 0, 0.8) 0%, #ffffff 100%);
}
.polarity-placeholder .polarityCol .tweet-container-loading.loading {
  width: 100%;
  height: 200px;
  margin-top: -200px;
  background-image: url("../images/bar-ajax-loader.gif");
  background-position: center;
  background-repeat: no-repeat;
  z-index: 10;
}
.polarity-placeholder .polarityCol .tweet-container {
  width: 100%;
  padding-bottom: 200px;
  padding-top: 5px;
}
.polarity-placeholder .polarityCol .tweet-container .tweet {
  margin: 10px auto;
  max-width: 500px;
  min-width: 250px;
  position: relative;
  width: calc(100% - 20px);
  text-align: center;
}
.polarity-placeholder .polarityCol .tweet-container h3 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: -50px;
  text-shadow: 0px 0px 2px white;
}
.polarity-placeholder .chartsCol {
  display: inline-block;
  float: left;
  width: calc(40% - 20px);
  height: 100%;
  margin: 0 5px;
}
.polarity-placeholder .chartsCol > div {
  height: 33%;
  width: 100%;
  position: relative;
  display: inline-block;
}
.polarity-placeholder .chartsCol > div.tweet-pie-chart > svg {
  width: 100%;
  height: 100%;
}
.polarity-placeholder .chartsCol > div.tweet-time-chart-placeholder .time-chart {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.polarity-placeholder .chartsCol > div.tweet-time-chart-placeholder .tweet-time-chart-buttons {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 10px 0 0;
}
.polarity-placeholder .chartsCol > div.tweet-time-chart-placeholder .tweet-time-chart-buttons button {
  cursor: pointer;
  float: left;
  width: 64px;
  height: 26px;
  border: none;
  margin: 0 1px 0 0;
}
.polarity-placeholder .chartsCol > div.tweet-time-chart-placeholder .tweet-time-chart-buttons button:hover {
  background-color: #c6d8f9;
}
.polarity-placeholder .chartsCol > div.tweet-time-chart-placeholder .tweet-time-chart-buttons button.state-active {
  background-color: #6998f0;
}
/* NEW UPDATE LAYOUT WITH CHARTS */
body #twitterpolarity .tab-content {
  padding: 0;
  width: 100%;
}
body #twitterpolarity .polarity-placeholder .polarityCol {
  width: 30%;
}
/************************ VIDEO PLAYER WIDGET **************************/
.player-minimize {
  background-image: url("../images/arrow-player-mini.png");
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 5px;
  cursor: pointer;
}
.player-maximize {
  display: none;
  background-image: url("../images/arrow-player-max.png");
  width: 48px;
  height: 48px;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 5px;
  cursor: pointer;
  opacity: 0.2;
}
.player-maximize:hover {
  opacity: 1;
}
html body .ui-dialog.video-dialog.ui-widget.minimized-player {
  width: 320px !important;
  height: 240px !important;
  padding: 0;
  margin: 0;
  overflow: hidden;
  border-radius: 0;
}
html body .ui-dialog.video-dialog.ui-widget.minimized-player .ui-dialog-titlebar {
  display: none;
}
html body .ui-dialog.video-dialog.ui-widget.minimized-player .player-minimize {
  display: none;
}
html body .ui-dialog.video-dialog.ui-widget.minimized-player .player-maximize {
  display: block;
}
html body .ui-dialog.video-dialog.ui-widget.minimized-player .youtube-placeholder {
  padding: 0;
}
html body .ui-dialog.video-dialog.ui-widget.minimized-player .youtube-placeholder embed {
  width: 320px;
  height: 240px;
}
html body .ui-dialog.video-dialog.ui-widget.minimized-player .amalia-placeholder .amalia-player-placeholder {
  width: 320px;
  height: 240px;
}
html body .ui-dialog.video-dialog.ui-widget.minimized-player .amalia-placeholder .amalia-player-row {
  padding: 0;
}
body .ui-dialog.video-dialog.ui-widget {
  background: #333333;
  overflow: visible;
  width: 530px !important;
}
body .ui-dialog.video-dialog.ui-widget.plugin-on {
  width: 855px !important;
}
body .ui-dialog.video-dialog.ui-widget .ui-dialog-title {
  color: whitesmoke;
}
body .ui-dialog.video-dialog.ui-widget .ui-dialog-content {
  overflow: visible;
  padding: 0;
}
.youtube-placeholder {
  height: 320px;
  width: 520px;
  padding: 0 5px;
}
.amalia-placeholder {
  /* OVERRIDE AMALIA PLUGIN CSS */
}
.amalia-placeholder .amalia-player-row {
  padding: 0 5px;
}
.amalia-placeholder .amalia-player-row > div {
  display: inline-block;
  height: 320px;
}
.amalia-placeholder .amalia-player-placeholder {
  width: 520px;
}
.amalia-placeholder .amalia-plugin-tsync-placeholder {
  width: 320px;
}
.amalia-placeholder .ajs-plugin.plugin-text-sync {
  background: #333333;
  height: 320px;
}
.amalia-placeholder .ajs-plugin.plugin-text-sync .line-component {
  padding: 0;
}
.amalia-placeholder .ajs-plugin.plugin-text-sync .line-component .line {
  color: white;
  margin: 5px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}
.amalia-placeholder .ajs-plugin.plugin-text-sync .line-component .line.on {
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 1px 3px #0cf;
}
/**************************** DATE FILTER WIDGET ****************************/
.dateFilterWidget-placeholder {
  margin-top: 20px;
}
.dateFilterWidget-placeholder div {
  margin-top: 8px;
}
.dateFilterWidget-placeholder label {
  font-weight: bold;
  text-align: right;
  display: inline-block;
  width: 35px;
  margin-right: 0.5em;
}
.dateFilterWidget-placeholder input {
  width: 157px;
}
/*************************** OVERRIDE - jQuery UI ***************************/
body .ui-widget-header {
  border: none;
  background: none;
}
body .ui-widget-content a {
  color: #6998f0;
}
body .ui-dialog {
  border: none;
  box-shadow: 1px 1px 4px black;
}
body .ui-dialog .ui-dialog-title {
  font-size: large;
}
body .tweet-tooltip {
  background: none;
}
body .ui-dialog-titlebar-close .ui-button-text {
  display: none;
}
body .ui-datepicker {
  z-index: 10 !important;
  font-size: inherit;
}
body {
  height: 100%;
  position: relative;
}
body .ui-draggable-handle.ui-draggable-dragging {
  max-width: 400px;
  max-height: 300px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.8);
}
.eumssi-tool {
  overflow-x: hidden;
}
.col-2 {
  width: calc(50% - 5px);
  display: inline-block;
  vertical-align: top;
  height: 100%;
  position: relative;
  border: none;
  margin: 0;
  padding: 0;
}
.col-2 .col-content {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  padding: 15px 0 15px 15px;
}
/************************ HEADER **************************/
.label-locale-selector {
  min-width: 100px;
}
.header {
  height: 64px;
  width: 100%;
  background-color: #646464;
  background: -webkit-gradient(linear, left top, left bottom, from(#646464), to(#0e0e0e));
  background: -webkit-linear-gradient(top, #646464, #0e0e0e);
  background: -moz-linear-gradient(top, #646464, #0e0e0e);
  background: -ms-linear-gradient(top, #646464, #0e0e0e);
  background: -o-linear-gradient(top, #646464, #0e0e0e);
  box-shadow: inset 0 0 0 1px rgba(31, 31, 31, 0.66), 0 0 10px rgba(0, 0, 0, 0.75), 0 0 3px rgba(0, 0, 0, 0.75);
}
.header .mainSearch-placeholder {
  display: inline-block;
  vertical-align: top;
  line-height: 41px;
  margin: 0 10px;
  width: 30%;
}
.header .kea-tags-container {
  display: inline-block;
  vertical-align: top;
}
.header .kea-tags-container .suggested-queries-help {
  display: inline-block;
  color: white;
  vertical-align: bottom;
  margin-right: 10px;
  margin-left: 19px;
}
.header .kea-tags-container .tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  display: inline-block;
}
.header .kea-tags-container .tags li {
  float: left;
}
.header .kea-tags-container .tag {
  background: #eee;
  border-radius: 3px;
  color: #000;
  display: inline-block;
  height: 31px;
  line-height: 31px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 0 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}
.header .kea-tags-container .tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 13px;
}
.header .kea-tags-container .tag:hover {
  background-color: crimson;
  color: white;
}
.header .kea-tags-container .tag:hover::after {
  border-left-color: crimson;
}
.header .dateFilterWidget-placeholder {
  display: inline-block;
  vertical-align: top;
  margin-top: 0;
}
.header .dateFilterWidget-placeholder > div {
  display: inline-block;
  vertical-align: top;
}
.header .dateFilterWidget-placeholder .dateFilter-range {
  margin-left: 10px;
}
.header .dateFilterWidget-placeholder .ui-selectmenu-text {
  background-color: white;
}
.header .dateFilterWidget-placeholder input {
  width: 95px;
  border-radius: 3px;
  font-size: large;
  padding: 5px 10px 3px 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
.header .dateFilterWidget-placeholder input:focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}
.header .filterViewer-placeholder {
  display: block;
  margin-left: 10px;
  margin-top: 0px;
}
.header .filterViewer-placeholder h2 {
  font-size: 13px;
  font-weight: bold;
}
.header .filterViewer-placeholder > * {
  display: inline-block;
  vertical-align: top;
}
.header .filterViewer-placeholder .ui-filter {
  float: left;
  margin-left: 0.5em;
}
.header button.ui-button-main {
  height: 32px;
  font-size: large;
  width: 32px;
  margin-left: -40px;
  cursor: pointer;
  border: none;
  padding: 4px 4px;
  background-color: white;
}
.header button.ui-button-main:hover {
  background-color: white;
}
.header button.ui-button-main .icon-search {
  background-image: url("../images/icon-search-grey.png");
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
}
.header .filter-container input {
  font-size: large;
  width: 500px;
  padding: 5px 10px 3px 10px;
  margin-top: 8px;
  border-radius: 3px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  vertical-align: top;
}
.header .filter-container input:focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}
.header .filter-container button {
  vertical-align: sub;
  margin-left: 5px;
}
.header .filter-container h2 {
  display: none;
}
.header label,
.header h2,
.header .filterText {
  color: whitesmoke;
}
.header #header-menu {
  color: white;
  position: absolute;
  text-align: right;
  right: 0;
  top: 0;
  margin: 12px;
  z-index: 20;
}
.header #header-menu .header-menu-button:hover {
  color: #6998f0;
}
.header #header-menu .header-menu-list {
  background-color: #1d1d1d;
  min-width: 150px;
}
.header #header-menu .header-menu-list li {
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
}
.header #header-menu .header-menu-list li:hover {
  background-color: #6998f0;
}
/************************ FILTER ************************************/
.filter {
  width: 100%;
  position: absolute;
  z-index: 10;
}
@media (max-width: 1000px) {
  .filter {
    width: 100%;
  }
}
.filter h2 {
  margin: 10px 0;
  font-size: 13px;
  font-weight: bold;
}
.filter .source-placeholder:empty:after {
  content: "search to get sources";
  color: #888;
  font-style: italic;
}
.filter .filter-panel-content {
  max-height: 500px;
  width: 100%;
  background-color: #F8F8F8;
  box-shadow: 0px 20px 20px 10px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
}
.filter .filter-panel-content .filterRelatedContent-placeholder {
  display: none;
}
.filter .filter-toggler {
  width: 60px;
  height: 30px;
  position: absolute;
  bottom: -30px;
  left: calc(50% - 30px);
  cursor: pointer;
  opacity: 0.3;
  border-radius: 0 0 40px 40px;
  background-color: #ff4900;
  font-size: 1.5em;
  text-align: center;
}
.filter .filter-toggler:hover {
  opacity: 1;
}
.filter .filter-toggler i.fa {
  margin-top: 4px;
}
.filter.filter-open .filter-toggler i.fa-arrow-down {
  display: none;
}
.filter.filter-open .panel-content {
  display: block;
  animation-name: ShowFilterPanel;
  animation-duration: 1s;
}
.filter.filter-closed .filter-toggler i.fa-arrow-up {
  display: none;
}
.filter.filter-closed .panel-content {
  display: none;
}
@keyframes ShowFilterPanel {
  from {
    max-height: 0;
    display: block;
    overflow: hidden;
  }
  to {
    max-height: 500px;
  }
}
.filter .filter-related-content .item-header {
  width: 30%;
  display: inline-block;
}
.filter .filter-related-content .item-header:not(:first-child) {
  text-align: center;
}
.filter .filter-related-content .item-row > * {
  width: 30%;
  margin: auto;
  display: inline-block;
}
.filter .filter-related-content .button-row {
  width: calc(100% - 40px);
  text-align: right;
  padding: 10px 20px;
}
.filter .filter-related-content .entities:empty:after {
  content: "... not found related entities...";
  font-style: italic;
  color: #888;
}
.filter .filter-related-content .keywords:empty:after {
  content: "... not found related keyframes...";
  font-style: italic;
  color: #888;
}
.filter .filter-related-content .queries:empty:after {
  content: "... not found related queries ...";
  font-style: italic;
  color: #888;
}
.filter .filter-related-content .queries a {
  margin-right: 10px;
}
/************************ CONTENT **************************/
.content {
  height: calc(100% - 64px);
  width: 100%;
  position: relative;
}
.content .tabs-container {
  width: 100%;
  padding: 0;
  border-width: 0;
  border-radius: 3px 0 0 3px;
  box-shadow: 0 0 10px 2px grey;
}
.content .left-slide {
  padding: 10px 10px 10px 0;
  z-index: 2;
  visibility: visible;
}
.content .left-slide.introjs-fixParent {
  position: relative!important;
}
.content .left-slide .cke_inner .cke_button__eumssisearch.introjs-relativePosition {
  position: relative!important;
}
.content .left-slide .cke_inner .cke_button__eumssisearch .cke_button_label {
  display: inline;
}
.content .left-slide .cke_button.cke_button__deletehighlighting .cke_button__deletehighlighting_label {
  display: inline-block !important;
}
.content .left-slide .cke_toolbar i.fa {
  font-size: 1.5em;
  margin: 4px 5px 4px 0px;
  color: #ff4900;
  font-family: FontAwesome;
}
.content .left-slide #richeditor-placeholder {
  height: 100%;
}
.content .result-panel-content {
  padding: 10px 0 10px 10px;
  overflow: auto;
}
.content .result-panel-content em {
  font-style: normal;
  background-color: rgba(128, 128, 128, 0.3);
}
.content > div {
  display: inline-block;
  vertical-align: top;
  height: calc(100% - 20px);
  width: calc(50% - 13px);
  position: relative;
}
.content.slide-open .left-slide-toggler {
  left: calc(50% - 2px);
}
.content.slide-open .left-slide-toggler i.fa-arrow-right {
  display: none;
}
.content.slide-closed .left-slide-toggler {
  left: 8px;
}
.content.slide-closed .left-slide-toggler i.fa-arrow-left {
  display: none;
}
.content.slide-closed .left-slide {
  display: none;
}
.content.slide-closed .result-panel-content {
  width: calc(100% - 10px);
}
.content .left-slide-toggler {
  width: 30px;
  height: 60px;
  position: absolute;
  top: calc(50% - 30px);
  margin-left: -11px;
  background-color: grey;
  cursor: pointer;
  z-index: 3;
  opacity: 0.3;
  border-radius: 0 40px 40px 0;
  font-size: 1.5em;
}
.content .left-slide-toggler:hover {
  opacity: 1;
}
.content .left-slide-toggler i.fa {
  margin-left: 6px;
  margin-top: 20px;
}
/************************ POLARITY WIDGET **************************/
.content.slide-closed #twitterpolarity .polarity-placeholder .chartsCol > div {
  height: 50%;
}
.content.slide-open #twitterpolarity .polarity-placeholder {
  position: relative;
  width: 100%;
  height: 100%;
}
.content.slide-open #twitterpolarity .polarity-placeholder .polarityCol {
  height: 100%;
  width: calc(50% - 6px);
}
.content.slide-open #twitterpolarity .polarity-placeholder .chartsCol {
  width: 100%;
  height: 33%;
  margin: 0 5px;
}
.content.slide-open #twitterpolarity .polarity-placeholder .chartsCol > div {
  height: 100%;
  width: 49%;
}
.tweet-to-editor {
  position: absolute;
  bottom: 10px;
  width: 100px;
  right: 20px;
  height: 31px;
  line-height: 30px;
  z-index: 1;
  background: none;
  cursor: pointer;
  border: 1px solid grey;
  border-radius: 3px;
  font-weight: bold;
}
.tweet-to-editor:hover {
  color: whitesmoke;
  background-color: grey;
}
.tweet-to-editor > * {
  display: inline-block !important;
  vertical-align: middle;
}
.result-to-editor-container {
  position: relative;
  height: 35px;
  margin-top: 5px;
}
.result-to-editor-container .result-to-editor {
  position: absolute;
  width: 100px;
  right: 20px;
  height: 31px;
  line-height: 30px;
  z-index: 1;
  background: none;
  cursor: pointer;
  border: 1px solid grey;
  border-radius: 3px;
  font-weight: bold;
}
.result-to-editor-container .result-to-editor:hover {
  color: whitesmoke;
  background-color: grey;
}
.result-to-editor-container .result-to-editor > * {
  display: inline-block !important;
  vertical-align: middle;
}
.graph-to-editor-container {
  float: right;
}
.graph-to-editor-container .graph-to-editor {
  width: 100px;
  height: 31px;
  line-height: 30px;
  z-index: 1;
  background: none;
  cursor: pointer;
  border: 1px solid grey;
  border-radius: 3px;
  font-weight: bold;
}
.graph-to-editor-container .graph-to-editor:hover {
  color: whitesmoke;
  background-color: grey;
}
.graph-to-editor-container .graph-to-editor > * {
  display: inline-block !important;
  vertical-align: middle;
}
.graph-to-editor-container .graph-to-editor .ui-icon {
  background-image: url("../lib/jquery/images/ui-icons_FF4900_256x240.png") !important;
}
.map-to-editor-container {
  float: right;
}
.map-to-editor-container .map-to-editor {
  width: 100px;
  height: 31px;
  line-height: 30px;
  z-index: 1;
  background: none;
  cursor: pointer;
  border: 1px solid grey;
  border-radius: 3px;
  font-weight: bold;
}
.map-to-editor-container .map-to-editor:hover {
  color: whitesmoke;
  background-color: grey;
}
.map-to-editor-container .map-to-editor > * {
  display: inline-block !important;
  vertical-align: middle;
}
.map-to-editor-container .map-to-editor .ui-icon {
  background-image: url("../lib/jquery/images/ui-icons_FF4900_256x240.png") !important;
}
/* ************************ DASHBOARD LAYOUT ************************ */
.content.slide-open .dashboard .left-widgets {
  width: calc(100% - 6px);
}
.content.slide-open .dashboard .right-widgets {
  display: none;
}
.dashboard.tab-content.expanded {
  padding: 0;
  width: 100%;
  height: 100%;
}
.dashboard .dashboard-placeholder {
  height: 100%;
}
.dashboard .left-widgets,
.dashboard .right-widgets {
  height: 100%;
  display: inline-block;
  width: calc(50% - 6px);
  vertical-align: top;
}
.dashboard .row-1,
.dashboard .row-2 {
  height: 50%;
}
.dashboard .col-2 {
  max-height: calc(100% - 45px);
  overflow-y: auto;
  overflow-x: hidden;
  width: calc(50% - 26px);
}
.dashboard .ui-widget-content {
  padding: 10px;
}
.dashboard .genericwordcloud svg {
  overflow: visible;
}
.dashboard .dashboard-map,
.dashboard .mapChart-chart {
  height: 100%;
}
.dashboard .dashboard-result {
  height: calc(100% - 20px);
  padding: 10px;
}
.dashboard .polarity-placeholder .polarityCol {
  height: 66%;
  width: calc(50% - 5px);
}
.dashboard .polarity-placeholder .chartsCol {
  width: 100%;
}
.dashboard .polarity-placeholder .chartsCol > div {
  width: calc(50% - 10px);
}
.dashboard .tagCloud a.tagcloud_size_0 img {
  max-width: 60px;
  max-height: 60px;
}
.dashboard .tagCloud a.tagcloud_size_1 img {
  max-width: 75px;
  max-height: 75px;
}
.dashboard .tagCloud a.tagcloud_size_2 img {
  max-width: 90px;
  max-height: 90px;
}
.dashboard .tagCloud a.tagcloud_size_3 img {
  max-width: 105px;
  max-height: 105px;
}
.dashboard .tagCloud a.tagcloud_size_4 img {
  max-width: 120px;
  max-height: 120px;
}
.dashboard .tagCloud a.tagcloud_size_5 img {
  max-width: 135px;
  max-height: 135px;
}
.dashboard .tagCloud a.tagcloud_size_6 img {
  max-width: 150px;
  max-height: 150px;
}
.dashboard .tagCloud a.tagcloud_size_7 img {
  max-width: 165px;
  max-height: 165px;
}
.dashboard .tagCloud a.tagcloud_size_8 img {
  max-width: 180px;
  max-height: 180px;
}
.dashboard .tagCloud a.tagcloud_size_9 img {
  max-width: 195px;
  max-height: 195px;
}
.dashboard .tagCloud a.tagcloud_size_10 img {
  max-width: 210px;
  max-height: 210px;
}
/* ************************ WORD GRAPH LAYOUT ************************ */
#genericwordcloudtab .genericwordcloud-toolbar {
  padding: 10px 20px 0px 40px;
}
/* ************************************************************************* */
/* ************************ EXTERNAL PAGES LOADER ************************ */
.externalFrame.tab-content.expanded {
  padding: 0;
  width: 100%;
  height: 100%;
}
.externalFrame .externalFrame-url {
  width: 100%;
}
.externalFrame .externalFrame-container {
  width: 100%;
  height: 100%;
}
.externalFrame .externalFrame-container iframe {
  height: 100%;
  width: 100%;
  border: none;
}
.externalFrame .empty-advise {
  margin: auto;
  padding: 50px 20px;
  text-align: center;
}
/* ************************ LOADING MODAL ANIMATION ************************ */
.state-loading::before {
  content: " ";
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: 1000;
  opacity: 0.3;
  background: repeating-linear-gradient(-55deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 20px, rgba(0, 0, 0, 0.3) 20px, rgba(0, 0, 0, 0.3) 50px);
  background-size: 200% 120%;
  animation: LoadingAnimation 10s linear infinite;
}
@keyframes LoadingAnimation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}
/************************ OVERRIDE VENDOR CSS **************************/
body .ui-widget-content {
  border-width: 0;
}
body .introjs-tooltip {
  min-width: 300px;
  max-width: 400px;
  z-index: 99999;
}
body .ui-droppable-active .cke_editor_richeditor-placeholder {
  box-shadow: inset 0 0 50px 10px #6998f0, 0 0 10px 5px #6998f0;
}
body .ui-droppable-hover .cke_editor_richeditor-placeholder {
  box-shadow: inset 0 0 50px 10px #ff4900, 0 0 10px 5px #ff4900;
}
body .cke_editor_richeditor-placeholder {
  box-shadow: 0 0 10px 2px grey;
  border-radius: 0 5px 5px 0;
}
body .ui-tabs .ui-tabs-nav {
  width: 160px;
  position: fixed;
  top: 15%;
  right: -155px;
  z-index: 13;
  border-radius: 0;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
  opacity: 0.5;
  transition: right 0.5s 0.5s, opacity 1s;
}
body .ui-tabs .ui-tabs-nav:hover {
  right: 0;
  opacity: 1;
  transition: right 0.5s;
}
body .ui-tabs .ui-tabs-nav li {
  float: none;
  height: 42px;
  width: 150px;
  border-radius: 0;
  overflow: hidden;
  position: relative;
  border-bottom-width: 1px;
  padding: 5px;
  white-space: nowrap;
  margin: 0;
  cursor: pointer;
  border: none;
  background-color: white;
  background-image: none;
}
body .ui-tabs .ui-tabs-nav li:nth-child(1) {
  background-color: #444444;
}
body .ui-tabs .ui-tabs-nav li:nth-child(2) {
  background-color: #689F38;
}
body .ui-tabs .ui-tabs-nav li:nth-child(3) {
  background-color: #ED3B3B;
}
body .ui-tabs .ui-tabs-nav li:nth-child(4) {
  background-color: #EF6C00;
}
body .ui-tabs .ui-tabs-nav li:nth-child(5) {
  background-color: #039BE5;
}
body .ui-tabs .ui-tabs-nav li:nth-child(6) {
  background-color: #536DFE;
}
body .ui-tabs .ui-tabs-nav li:nth-child(7) {
  background-color: #658092;
}
body .ui-tabs .ui-tabs-nav li:nth-child(8) {
  background-color: #d1cb00;
}
body .ui-tabs .ui-tabs-nav li:nth-child(9) {
  background-color: #888888;
}
body .ui-tabs .ui-tabs-nav li:nth-child(10) {
  background-color: black;
}
body .ui-tabs .ui-tabs-nav li:hover {
  box-shadow: -5px -5px 25px -10px #333333, 0 5px 10px -2px #000000;
  z-index: 1;
}
body .ui-tabs .ui-tabs-nav li a {
  font-weight: bold;
  color: white;
}
body .ui-tabs .ui-tabs-nav li .fa {
  vertical-align: middle;
  min-width: 50px;
}
body .ui-tabs .ui-tabs-nav li.active-widget,
body .ui-tabs .ui-tabs-nav li.ui-state-active {
  cursor: auto;
  margin: 0;
  width: 192px;
  margin-left: -42px;
  z-index: 1;
  box-shadow: -2px 2px 5px -2px #000000;
}
body .ui-tabs .ui-tabs-nav li .ui-tabs-anchor {
  height: 100%;
  width: 100%;
  padding: 0;
}
.resultInformation em {
  font-style: normal;
  background-color: rgba(128, 128, 128, 0.3);
}
.cke_dialog.cke_ltr.cke_single_page,
.cke_dialog.cke_browser_gecko.cke_ltr.cke_single_page,
.cke_dialog_background_cover {
  display: none;
}
canvas {
  display: none;
}
.navigation {
  margin-bottom: 10px;
}
.navigation .pager li {
  position: relative;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.result-element .info-block div .info-label {
  cursor: default;
}
.result-element .info-block div .info-label:after {
  content: ": ";
}
.ui-filters-container .filterText {
  font-size: 12px;
}
.header {
  height: 100px;
}
.header .mainSearch-placeholder {
  width: 33.3333%;
  box-sizing: border-box;
}
.header .mainSearch-placeholder #generated-GENERAL_SEARCH {
  width: 100%;
  box-sizing: border-box;
}
.header .mainSearch-placeholder #generated-GENERAL_SEARCH .text-widget-input {
  width: 85%;
  box-sizing: border-box;
}
.header .mainSearch-placeholder #generated-GENERAL_SEARCH button.ui-button-text-only {
  width: auto;
  box-sizing: border-box;
}
.header .dateFilterWidget-placeholder {
  width: 33.3333%;
  box-sizing: border-box;
}
.header .dateFilterWidget-placeholder .dateFilter-from {
  width: 33.3333%;
  box-sizing: border-box;
}
.header .dateFilterWidget-placeholder .dateFilter-from label {
  display: none;
}
.header .dateFilterWidget-placeholder .dateFilter-from input {
  width: 79%;
}
.header .dateFilterWidget-placeholder .dateFilter-to {
  width: 33.3333%;
  box-sizing: border-box;
}
.header .dateFilterWidget-placeholder .dateFilter-to label {
  display: none;
}
.header .dateFilterWidget-placeholder .dateFilter-to input {
  width: 79%;
}
.header .dateFilterWidget-placeholder .dateFilter-range {
  width: 30.3333%;
  box-sizing: border-box;
  margin-left: 2px;
}
.header .dateFilterWidget-placeholder .dateFilter-range .ui-selectmenu-button.ui-widget.ui-state-default.ui-corner-all {
  width: 120px !important;
}
.header .kea-tags-container {
  box-sizing: border-box;
}
.header .kea-tags-container .tags {
  margin-bottom: 0;
  margin-left: 0;
}
.header .kea-tags-container .tags .tag {
  height: 20px;
  line-height: 20px;
}
.header .kea-tags-container .tags .tag:before {
  top: 8px;
}
.advise-container {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  content: " ";
  width: 100%;
  height: 100%;
  text-align: justify;
  font-size: 18px;
  line-height: 41px;
  box-sizing: border-box;
  padding: 38px;
  color: white;
  min-height: 100%;
  max-height: 100%;
}
#my-timeline.adjust-height {
  width: 100%;
  height: 600px;
}
.btn-group > .btn {
  position: relative;
  float: left;
}
.btn-group > .btn.btn-default {
  color: #333;
  background-color: #fff;
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid #CCC;
  border-radius: 4px;
}
.btn-group > .btn:first-child:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-group > .btn:last-child:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-group > .btn:not(:first-child):not(:last-child) {
  border-radius: 0;
  border-left: none;
  border-right: none;
}
.sorContainer {
  display: inline-block;
  margin-bottom: 15px;
}
.social-media-filters {
  display: inline-block;
}
