<script type="text/template" id="dummy-template-tpl">
    <div class="dummy-template">
        <!-- CONTENT -->
    </div>
</script>

<script type="text/template" id="feedback-dialog-tpl">
    <div class="feedback-dialog">
        Please, tell us something about the page.
        <form class="feedback-form">
            <p>
                <label>Name</label>
                <input class="user" type="text">
            </p>
            <p>
                <label>Type</label>
                <select class="type">
                    <option value="Suggestion">Suggestion</option>
                    <option value="Defect">Defect</option>
                    <option value="Opinion">Opinion</option>
                </select>
            </p>
            <p>
                <label>Description</label>
                <textarea class="comment" rows="5"></textarea>
            </p>
        </form>
    </div>
</script>

<script type="text/template" id="player-dialog-tpl">
    <div class="player-dialog-placeholder">
        <div class="player-placeholder"></div>
        <p style="padding: 5px">
            <a class="video-link" target="_blank" href="">Video Link</a>
        </p>
        <div class='player-minimize' title='Minimize player'></div>
        <div class='player-maximize' title='Maximize player'></div>
    </div>
</script>

<script type="text/template" id="amalia-placeholder-tpl">
    <div class="amalia-placeholder">
        <div class="amalia-player-row">
            <div class="amalia-player-placeholder">
                <div class="amalia-player"></div>
            </div>
            <div class="amalia-plugin-tsync-placeholder" style="display:none;">
                <div id="myplayer-tsync-tsync"></div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="minimized-player-tpl">
    <div class="minimized-player-placeholder">
        <div class="player-maximize"></div>
        <div class="video-placeholder"></div>
    </div>
</script>
