<script type="text/template" id="dummy-template-tpl">
    <div class="dummy-template">
        <!-- CONTENT -->
    </div>
</script>

<script type="text/template" id="feedback-dialog-tpl">
    <div class="feedback-dialog">
        Please, tell us something about the page.
        <form class="feedback-form">
            <p>
                <label>Name</label>
                <input class="user" type="text">
            </p>
            <!--<p>-->
                <!--<label>email</label>-->
                <!--<input class="email" type="text">-->
            <!--</p>-->
            <p>
                <label>Type</label>
                <select class="type">
                    <option value="Suggestion">Suggestion</option>
                    <option value="Defect">Defect</option>
                    <option value="Opinion">Opinion</option>
                </select>
                <!--<input class="type" type="text">-->
            </p>
            <p>
                <label>Description</label>
                <textarea class="comment" rows="5"></textarea>
            </p>
        </form>
    </div>
</script>
